/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
  font-size: 0.875rem;
  margin-top: 2em;
  padding-top: 1em;
}
