.c-result {
  margin: 1.125em auto 5em;
  padding: 1.375rem 0.9375em 0;
  list-style: none;
  border: 1px solid $color-border;
  box-shadow: $global-shadow;
  border-radius: $global-radius;
  width: 20em;
  max-height: 14em;
  overflow-y: scroll;
}

.c-result__item {
  font-weight: 400;
  font-size: 0.875rem;
  color: $color-medium-grey;
  display: flex;
  align-items: center;
  text-align: left;
}

.c-result__img {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 4px;
}

.c-result__details {
  margin-left: 0.75rem;
}
