.c-search {
  margin: 4.125em 0 1.3125em;
}

.c-search__input {
  padding: 1.125em 0 1.125em 0.96875em;
  border: 1px solid $color-border;
  background: $color-white;
  box-shadow: $global-shadow;
  border-radius: $global-radius;
  width: 20em;
}

.c-search__input:focus {
  border-color: rgba(97, 77, 255, 0.41);
  box-shadow: 0 0 20px 0 rgba(97, 77, 255, 0.51);
  outline: 0;
}

.c-search__input::placeholder {
  font-size: 1.125rem;
  color: $color-very-light-grey;
}
