{% extends "layouts/base.twig" %}
{% set pageName = 'Homepage' %}

{% block content %}
<article>
  <hgroup>
    <h6 class="has-color">discover limitless media contacts database</h6>
    <h1 class="c-article__heading">Meet Modern Media Relations Platform for Digital Transformation Age</h1>
  </hgroup>
  <div class="c-search">
    <input class="c-search__input" type="text" placeholder="Search" value="">
    <ul class="c-result">
      <li class="c-result__item">
        <img src="assets/images/owl--blue--medium.png" alt="logo prowly company" class="c-result__img">
        <div class="c-result__details">
          <h5>Joanna Wiśniewska</h5>
          <p>Journalist</p>
        </div>
      </li>
      <li class="c-result__item">
        <img src="assets/images/owl--blue--medium.png" alt="logo prowly company" class="c-result__img">
        <div class="c-result__details">
          <h5>Joanna Wiśniewska</h5>
          <p>Journalist</p>
        </div>
      </li>
      <li class="c-result__item">
        <img src="assets/images/owl--blue--medium.png" alt="logo prowly company" class="c-result__img">
        <div class="c-result__details">
          <h5>Joanna Wiśniewska</h5>
          <p>Journalist</p>
        </div>
      </li>
    </ul>
  </div>
  <section class="c-section">
    <h2>Start building your future relations. <span class="has-color">Try now</span></h2>
    <div class="c-section__inner">
      <div class="c-section__button">
        <svg class="c-btn__animation" width="45" height="69">
          <path class="c-btn__strokes c-btn__strokes--left"
          d="M3.5 30.719h19a3.5 3.5 0 1 1 0 7h-19a3.5 3.5 0 1 1 0-7zM17.325.969l19.053 11a3.5 3.5 0 1 1-3.5 6.062l-19.053-11a3.5 3.5 0 1 1 3.5-6.062zm1.15 61.781L34.03 47.194a3.5 3.5 0 1 1 4.95 4.95L23.425 67.7a3.5 3.5 0 1 1-4.95-4.95z"/>
        </svg>
        <a href="https://www.prowly.com" class="c-btn c-btn--large c-btn--primary" target="_blank"
          rel="noopener">explore prowly now</a>
        <svg class="c-btn__animation" width="45" height="69">
          <path class="c-btn__strokes c-btn__strokes--right"
          d="M41.5 38.281h-20a3.5 3.5 0 1 1 0-7h20a3.5 3.5 0 1 1 0 7zm-18.825 29.75l-19.053-11a3.5 3.5 0 1 1 3.5-6.062l19.053 11a3.5 3.5 0 1 1-3.5 6.062zM21.525 6.25L5.97 21.806a3.5 3.5 0 1 1-4.95-4.95L16.575 1.3a3.5 3.5 0 1 1 4.95 4.95z" />
        </svg>
      </div>
      <svg width="93" height="164">
        <g fill="none" fill-rule="evenodd">
          <path class="c-btn__arrow"
            d="M36.102 160.165c34.005.124 53.918-25.557 52.965-58.946-.953-33.389-39.162-61.078-69.757-48.838-30.595 12.24-11.845 79.825 19.694 62.283 21.026-11.694 24.78-48 11.26-108.918"/>
          <path class="c-btn__arrow-end" d="M71.01 24.981L49.77 5.19l-4.443 24.213"/>
        </g>
      </svg>
    </div>
  </section>
</article>
{% endblock %}
