{% extends "layouts/base.twig" %}
{% set pageName = 'Homepage' %}

{% block content %}
  <hgroup>
    <h6 class="has-color">discover limitless media contacts database</h6>
    <h1>Meet Modern Media Relations Platform for Digital Transformation Age</h1>
  </hgroup>
  <div class="c-search">
    <input class="c-search__input" type="text" placeholder="Search" value="">
    <ul class="c-result"></ul>
  </div>
  <section>
    <h1>Start building your future relations.<span class="has-color">Try now</span></h1>
    <div>
      <div>
          <svg width="40px" height="69px" viewBox="0 0 40 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Desktop-HD" transform="translate(-631.000000, -843.000000)" fill="#212B35">
                    <path d="M634.5,873.718911 L653.5,873.718911 C655.432997,873.718911 657,875.285914 657,877.218911 C657,879.151908 655.432997,880.718911 653.5,880.718911 L634.5,880.718911 C632.567003,880.718911 631,879.151908 631,877.218911 C631,875.285914 632.567003,873.718911 634.5,873.718911 Z M648.325318,843.968911 L667.377876,854.968911 C669.051901,855.935409 669.625464,858.075976 668.658965,859.75 C667.692467,861.424024 665.551901,861.997587 663.877876,861.031089 L644.825318,850.031089 C643.151293,849.064591 642.57773,846.924024 643.544229,845.25 C644.510727,843.575976 646.651293,843.002413 648.325318,843.968911 Z M649.474874,905.750134 L665.031223,890.193785 C666.398058,888.82695 668.614135,888.82695 669.98097,890.193785 C671.347805,891.56062 671.347805,893.776697 669.98097,895.143532 L654.424621,910.699881 C653.057786,912.066716 650.841709,912.066716 649.474874,910.699881 C648.108039,909.333046 648.108039,907.116969 649.474874,905.750134 Z" id="Combined-Shape"></path>
                </g>
            </g>
        </svg>
        <a href="https://www.prowly.com" class="c-btn c-btn--large c-btn--primary">explore prowly now</a>
        <svg width="45px" height="69px" viewBox="0 0 45 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-895.000000, -844.000000)" fill="#212B35">
                  <path d="M936.5,882.281089 L916.5,882.281089 C914.567003,882.281089 913,880.714086 913,878.781089 C913,876.848092 914.567003,875.281089 916.5,875.281089 L936.5,875.281089 C938.432997,875.281089 940,876.848092 940,878.781089 C940,880.714086 938.432997,882.281089 936.5,882.281089 Z M917.674682,912.031089 L898.622124,901.031089 C896.948099,900.064591 896.374536,897.924024 897.341035,896.25 C898.307533,894.575976 900.448099,894.002413 902.122124,894.968911 L921.174682,905.968911 C922.848707,906.935409 923.42227,909.075976 922.455771,910.75 C921.489273,912.424024 919.348707,912.997587 917.674682,912.031089 Z M916.525126,850.249866 L900.968777,865.806215 C899.601942,867.17305 897.385865,867.17305 896.01903,865.806215 C894.652195,864.43938 894.652195,862.223303 896.01903,860.856468 L911.575379,845.300119 C912.942214,843.933284 915.158291,843.933284 916.525126,845.300119 C917.891961,846.666954 917.891961,848.883031 916.525126,850.249866 Z" id="Combined-Shape"></path>
              </g>
          </g>
      </svg>
      </div>
      <svg width="93px" height="164px" viewBox="0 0 93 164" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-HD" transform="translate(-732.000000, -928.000000)" stroke="#212B35">
                <g id="Group-3" transform="translate(783.368141, 1013.108925) rotate(206.000000) translate(-783.368141, -1013.108925) translate(733.868141, 938.108925)">
                    <path d="M30.3186485,0.847286206 C-0.299026006,15.6432046 -6.93900361,47.4544291 8.55427747,77.0462658 C24.0475585,106.638103 70.5274018,114.775858 92.6606605,90.3625923 C114.793919,65.949327 68.3140759,13.4238168 47.6563678,43.0156536 C33.8845624,62.7435447 46.4267423,97.0207556 85.2829076,145.847286" id="Path" stroke-width="6"></path>
                    <polyline id="Path-2" stroke-width="5" transform="translate(71.322957, 135.667100) rotate(-7.000000) translate(-71.322957, -135.667100) " points="58.0603461 136.039074 84.585567 147.837464 80.9044186 123.496736"></polyline>
                </g>
            </g>
        </g>
    </svg>

    </div>
  </section>
{% endblock %}


