<header class="o-wrapper c-header">
  <a href="/" rel="home">
    <img src="assets/images/owl--blue--medium.png" alt="" class="c-header__logo">
    <img src="assets/images/logo--blue--medium.png" alt="" class="c-header__logo">
  </a>
</header>
