///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 6px !default;
$global-transition: all 300ms ease-in-out !default;
$global-shadow: 0 0 40px 0 rgba(223, 228, 232, 0.51) !default;

/* Fonts
   ========================================================================== */

$font-sans-serif: 'Roboto', sans-serif !default;

/* Breakpoints
   ========================================================================== */

$breakpoints: (small: 480px,
medium: 768px,
large: 1024px,
xlarge: 1280px,
full: 1600px,
fullhd: 1920px,
qhd: 2560px,
);


/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-very-light-grey: #c4cdd5;
$color-light-grey: #dfe4e8;
$color-medium-grey: #919eab;
$color-dark-grey: #333;
$color-prowly: #614dff;
$color-prowly-headings: #212b35;

// Text
$color-bg: $color-white;
$color-text: $color-black;

// Links
$color-link: $color-medium-grey;
$color-hover: $color-light-grey;

// Borders
$color-border: $color-light-grey;

// Fills
$color-fill: $color-very-light-grey;
