@keyframes path1 {
  0%,
  65% {
    transform: translate(100%, 0) scale(0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes path2 {
  0%,
  65% {
    transform: translate(-100%, 0) scale(0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 400;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw2 {
  65% {
    stroke-dashoffset: 55;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
